:root{
    /* Renkler */

    --backgroundColor: #292929;
    --seat-color: #444451;
    --text-color: #777;
    --reserved-color: #fff;
    --selected-color: #f6eb6f;
    --info-background: rgba(0,0,0,0.2);
    --transition: all .5s ease;
    --box-shadow: 0 5px 15px 5px rgba(255,255,255,0.7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*                  CINEMA SCREEN          */
.screen{
    margin: 20px 0;
    box-shadow: var(--box-shadow);
    height: 250px;
    width: 400px;
}

.screen img{
    width: 100%;
    height: 100%;
}

/* SEATS */
.seat.reserved{
    color: var(--reserved-color);
}

.seat.selected{
    color:var(--selected-color)
}

.seatsRow .seat i{
    font-size: 30px;
}

.seatsRow{
    display: flex;
}

.seat{
    color: var(--seat-color);
    font-size: 20px;
    margin: 5px;
    transition: var(--transition);
    
}


.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Movie Bar*/

.movie-list{
    margin: 20px 0;
}

.info{
    background-color: var(--info-background);
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    color: var(--text-color);
}

.info li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.infoText{
    color: var(--reserved-color);
    margin: 5px 0;
    display: none;
    font-size: 25px;
}
.infoText span{
    color: var(--selected-color);
}